In [4]:
import numpy as np
import pandas as pd

In [20]:
data_file=r'C:\Python\DM exercise\dm\chapter11\demo\data\discdata.xls'
o_data=pd.read_excel(data_file)
o_data=o_data[o_data['TARGET_ID']==184]
o_data=o_data.iloc[:,4:]
o_data

    ENTITY        VALUE COLLECTTIME
0      C:\  34270787.33  2014-10-01
1      D:\  80262592.65  2014-10-01
4      C:\  34328899.02  2014-10-02
5      D:\  83200151.65  2014-10-02
8      C:\  34327553.50  2014-10-03
9      D:\  83208320.00  2014-10-03
12     C:\  34288672.21  2014-10-04
13     D:\  83099271.65  2014-10-04
16     C:\  34190978.41  2014-10-05
17     D:\  82765171.65  2014-10-05
20     C:\  34187614.43  2014-10-06
21     D:\  82522895.00  2014-10-06
24     C:\  34285280.22  2014-10-07
25     D:\  82590885.00  2014-10-07
28     C:\  34290578.41  2014-10-08
29     D:\  82368173.30  2014-10-08
32     C:\  33211870.40  2014-10-09
33     D:\  82172263.30  2014-10-09
36     C:\  33249253.87  2014-10-10
37     D:\  81922685.00  2014-10-10
40     C:\  33253832.53  2014-10-11
41     D:\  84844722.95  2014-10-11
44     C:\  34328058.03  2014-10-12
45     D:\  84769868.90  2014-10-12
48     C:\  34328674.80  2014-10-13
49     D:\  84558703.40  2014-10-13
52     C:\  34234933.61  2014-10-14
53     D:\  84207166.80  2014-10-14
56     C:\  34022726.41  2014-10-15
57     D:\  84042911.90  2014-10-15
..     ...          ...         ...
128    C:\  35462038.02  2014-11-02
129    D:\  86454023.45  2014-11-02
132    C:\  35486821.33  2014-11-03
133    D:\  86127041.70  2014-11-03
136    C:\  35471088.77  2014-11-04
137    D:\  86161390.40  2014-11-04
140    C:\  35547564.55  2014-11-05
141    D:\  85938933.90  2014-11-05
144    C:\  35606941.11  2014-11-06
145    D:\  85645056.50  2014-11-06
148    C:\  35546714.13  2014-11-07
149    D:\  85272926.05  2014-11-07
152    C:\  35510966.73  2014-11-08
153    D:\  88110097.75  2014-11-08
156    C:\  35491498.51  2014-11-09
157    D:\  88128626.65  2014-11-09
160    C:\  35601990.55  2014-11-10
161    D:\  88075997.75  2014-11-10
164    C:\  35687972.60  2014-11-11
165    D:\  87753526.65  2014-11-11
168    C:\  35704312.58  2014-11-12
169    D:\  87249335.55  2014-11-12
172    C:\  35704980.73  2014-11-13
173    D:\  86986142.20  2014-11-13
176    C:\  34570385.45  2014-11-14
177    D:\  86678240.00  2014-11-14
180    C:\  34673820.69  2014-11-15
181    D:\  89766600.00  2014-11-15
184    C:\  34793245.31  2014-11-16
185    D:\  89377527.25  2014-11-16

[94 rows x 3 columns]

In [33]:
data_c=o_data[o_data['ENTITY']=='C:\\']
data_d=o_data[o_data['ENTITY']=='D:\\']

data_c=data_c.set_index(data_c['COLLECTTIME'],drop=True).drop(['ENTITY'],axis=1)
data_d=data_d.set_index(data_d['COLLECTTIME'],drop=True).drop(['ENTITY'],axis=1)

In [34]:
data_c

                   VALUE COLLECTTIME
COLLECTTIME
2014-10-01   34270787.33  2014-10-01
2014-10-02   34328899.02  2014-10-02
2014-10-03   34327553.50  2014-10-03
2014-10-04   34288672.21  2014-10-04
2014-10-05   34190978.41  2014-10-05
2014-10-06   34187614.43  2014-10-06
2014-10-07   34285280.22  2014-10-07
2014-10-08   34290578.41  2014-10-08
2014-10-09   33211870.40  2014-10-09
2014-10-10   33249253.87  2014-10-10
2014-10-11   33253832.53  2014-10-11
2014-10-12   34328058.03  2014-10-12
2014-10-13   34328674.80  2014-10-13
2014-10-14   34234933.61  2014-10-14
2014-10-15   34022726.41  2014-10-15
2014-10-16   35016309.47  2014-10-16
2014-10-17   34981412.82  2014-10-17
2014-10-18   34828871.38  2014-10-18
2014-10-19   34832868.75  2014-10-19
2014-10-20   34843372.75  2014-10-20
2014-10-21   34847749.42  2014-10-21
2014-10-22   34829775.93  2014-10-22
2014-10-23   34824290.49  2014-10-23
2014-10-24   34827149.93  2014-10-24
2014-10-25   34820088.89  2014-10-25
2014-10-26   34776030.47  2014-10-26
2014-10-27   34667722.51  2014-10-27
2014-10-28   35705011.09  2014-10-28
2014-10-29   35594215.37  2014-10-29
2014-10-30   35411287.07  2014-10-30
2014-10-31   35389055.02  2014-10-31
2014-11-01   35385076.36  2014-11-01
2014-11-02   35462038.02  2014-11-02
2014-11-03   35486821.33  2014-11-03
2014-11-04   35471088.77  2014-11-04
2014-11-05   35547564.55  2014-11-05
2014-11-06   35606941.11  2014-11-06
2014-11-07   35546714.13  2014-11-07
2014-11-08   35510966.73  2014-11-08
2014-11-09   35491498.51  2014-11-09
2014-11-10   35601990.55  2014-11-10
2014-11-11   35687972.60  2014-11-11
2014-11-12   35704312.58  2014-11-12
2014-11-13   35704980.73  2014-11-13
2014-11-14   34570385.45  2014-11-14
2014-11-15   34673820.69  2014-11-15
2014-11-16   34793245.31  2014-11-16

In [ ]:
def attr_trans(x): #定义属性变换函数
  result = pd.Series(index = ['SYS_NAME', 'CWXT_DB:184:C:\\', 'CWXT_DB:184:D:\\',	'COLLECTTIME'])
  result['COLLECTTIME'] = x['COLLECTTIME'].iloc[0]
  result['CWXT_DB:184:C:\\'] = x['VALUE'].iloc[0]
  result['CWXT_DB:184:D:\\'] = x['VALUE'].iloc[1]
  return result

data_processed = data_group.apply(attr_trans)